/* 공통 */
@font-face{font-family:'Pretendard-Regular';src:url(https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff) format("woff");font-weight:400;font-style:normal}
.scroll{position:fixed;left:10px;top:10px;width:40px;height:40px;line-height:40px;text-align:center;background:rgba(255,255,255,0.4);color:#000;z-index:9998}
.fixed{position:fixed;left:50%;top:50%;transform:translate(-50%,-50%)}
.fixed2{position:fixed;left:0;top:0}
body{background-color:#00041b;font-family:'Pretendard-Regular',sans-serif}
.gotop {display:none;position:fixed;bottom:30px;right:30px;z-index:999;border:1px solid #ccc;outline:none;background-color:white;color:#333;cursor:pointer;padding:15px 20px;border-radius:100%;}
/* ani */
.activeUp{animation:up 1s cubic-bezier(1,0,0,1) both}
.blink {animation: blink 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;}
@keyframes up {
0%{transform:translateY(20%); opacity: 0}
100%{transform:translateY(0%); opacity: 1}
}
@keyframes bg-flow {
0%{transform:translateX(0%)}
100%{transform:translateX(-50%)}
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking {
    0% {
        letter-spacing: 1em;
        transform: translateZ(400px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes bg_change{
  0% {
    background: #C53F85;
  }
  100% {
    background: #1650A2;
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.8;
  }
}
#section1{overflow:hidden;display:flex;justify-content:center;position:relative;height:150vh;background:linear-gradient(180deg,#50B4D3 0.46%,#9EF7F4 30.64%,#FFEECE 55.64%)}
#section1 .title{position:absolute;top:-20%;left:50%;width:556px;margin-left:calc(-556px/2)}
[class^="obj"]{position:absolute;bottom:0;left:0;width:calc(100% + 10%);background-size:cover;background-repeat:no-repeat}
#section1 .obj1{bottom:-100px;height:724px;background-image:url(https://raw.githubusercontent.com/hanyzzi/siwon/main/france/img/obj1.png)}
#section1 .obj2{left:auto;right:0;bottom:140px;width:457px;height:365px;background-image:url(https://raw.githubusercontent.com/hanyzzi/siwon/main/france/img/obj2.png)}
#section1 .obj3{left:-3%;bottom:-130px;height:575px;background-image:url(https://raw.githubusercontent.com/hanyzzi/siwon/main/france/img/obj3.png)}
#section1 .obj4{z-index:2;bottom:-100px;height:560px;background-image:url(https://raw.githubusercontent.com/hanyzzi/siwon/main/france/img/obj4.png)}
#section1 .tower{position:absolute;left:50%;bottom:0;width:403px;height:783px;transform:translateX(-50%);background-image:url(https://raw.githubusercontent.com/hanyzzi/siwon/main/france/img/tower.png)}
[class^="cld"]{position:absolute;top:19%;background-size:cover;background-repeat:no-repeat}
.cld_1{width:281px;height:91px;left:90px;margin-top:2%;background-image:url(https://raw.githubusercontent.com/hanyzzi/siwon/main/france/img/cloud_1.png)}
.cld_2{width:172px;height:49px;left:674px;background-image:url(https://raw.githubusercontent.com/hanyzzi/siwon/main/france/img/cloud_2.png)}
.cld_3{width:487px;height:106px;right:0;margin-top:9%;background-image:url(https://raw.githubusercontent.com/hanyzzi/siwon/main/france/img/cloud_3.png)}
.cld_bg{opacity:22%;width:100%;height:526px;left:0;top:20%;background-image:url(https://raw.githubusercontent.com/hanyzzi/siwon/main/france/img/cloud_bg.png);}
.sun{position:absolute;width:243px;height:243px;right:5%;top:688px;background-image:url(https://raw.githubusercontent.com/hanyzzi/siwon/main/france/img/sun.png)}
.plane{position:absolute;width:129px;height:47px;left:88px;top:837px;background-image:url(https://raw.githubusercontent.com/hanyzzi/siwon/main/france/img/plane.png)}

#section1 .cld_1,
#section1 .cld_2,
#section1 .cld_3,
#section1 .sun,
#section1 .tower { opacity: 0;}
#section1.play .cld_1,
#section1.play .cld_2,
#section1.play .cld_3,
#section1.play .sun,
#section1.play .tower { opacity: 1;}

#section1.open .cld_1,
#section1.open .cld_2,
#section1.open .cld_3,
#section1.open .sun,
#section1.open .plane { animation: scale-in-center .8s  cubic-bezier(0.075, 0.82, 0.165, 1) both ;}
#section1.open .tower { opacity: 1; }
#section1.open .cld_3 { animation-delay: .5s; }
#section1.open .cld_2 { animation-delay: 1s; }
#section1.open .sun { animation-delay: .7s;}
#section1.open .plane { animation-delay: .3s;}

#section2{overflow:hidden;display:flex;justify-content:center;position:relative;height:350vh;background:linear-gradient(180deg,#0C212C 0%,#2C0B45 50%,#BD8499 100%,#BD8499 1.09%,#756691 20.66%,#182E53 45.11%,#00041B 100%)}
#section2 .title2{position:absolute;top:392px;left:50%;width:532px;margin-left:calc(-532px/2)}
#section2 .moon{position:absolute;width:245px;height:268px;left:245px;top:929px;background-image:url(https://raw.githubusercontent.com/hanyzzi/siwon/main/france/img/moon2.png)}
#section2 .title3{position:absolute;bottom:1450px;left:50%;width:714px;margin-left:calc(-714px/2)}
#section2 [class^="obj"] { opacity: 0;}
#section2 .obj1{bottom:-100px;height:724px;background-image:url(https://raw.githubusercontent.com/hanyzzi/siwon/main/france/img/obj1_v2.png);animation-delay:.3s}
#section2 .obj2{left:auto;right:0;bottom:140px;width:457px;height:365px;background-image:url(https://raw.githubusercontent.com/hanyzzi/siwon/main/france/img/obj2_v2.png);animation-delay:.2s}
#section2 .obj3{right:0;bottom:-130px;height:575px;background-image:url(https://raw.githubusercontent.com/hanyzzi/siwon/main/france/img/obj3_v2.png);animation-delay:.1s}
#section2 .obj4{z-index:2;bottom:-100px;height:560px;background-image:url(https://raw.githubusercontent.com/hanyzzi/siwon/main/france/img/obj4_v2.png)}
#section2 .tower{position:absolute;left:50%;bottom:0;width:403px;height:783px;transform:translateX(-50%);background-image:url(https://raw.githubusercontent.com/hanyzzi/siwon/main/france/img/tower2.png)}
#section2 .cld_bg{opacity:10%;top:auto;bottom:309px}
#section2 .star {position: absolute; bottom: 0; left: 0; width: 100%; height: 1565px; background: url(https://raw.githubusercontent.com/hanyzzi/siwon/main/france/img/sec03_star.png) no-repeat; }

#section3{height: 100vh; padding:300px 0}
#section3.pos { position: sticky; top: 0; left: 0; }
#section3 article{margin-left:25%}
#section3 .cont_1 .text{width:806px;font-weight:800;font-size:60px;line-height:140%;color:rgba(255,255,255,0.3)}
#section3 .cont_1 .point{color:rgba(255,255,255,1)}
#section3 .cont_2{margin-top:20%}
#section3 .cont_2 ul { display: flex; }
#section3 .cont_2 li:last-child { margin-top: 50%;  }
#section3 .cont_2 .text{width:auto;padding-top:42px;font-weight:400;font-size:40px;line-height:140%;color:#fff}
#section3 .cont_2 .point{font-weight:800;font-size:96px;line-height:130%;color:#fff}
#section3 .cont_2 .tit { opacity: 0; }
#section3 .cont_2 .tit.active { opacity: 1; animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;}
#section4 { position: relative; margin-top:5%}
#section4 .text1{ width: 1031px; margin-left: 150px; }
#section4 .text2 { width: 809px; margin: 276px 171px 276px auto; }
#section4 .mov { position: absolute;top: 90px;left: 50%;margin-left: -450px; border-radius: 30px;}

#section5 { overflow: hidden; padding: 100px 0; }
#section5 .wrap_vid { display: flex; animation: bg-flow 18s linear infinite; }
#section5 .wrap_vid li { flex: 0 0 auto; display: flex; justify-content: center; align-items: center; width: 500px; height: 300px; margin: 0 28px; }
#section5 .wrap_vid .ico_ytb { width: 213px; }
#section5 .wrap_vid .ico_logo { width: 350px; }
#section5 .wrap_vid .ico_france { width: 184px; }
#section5 .top_area .wrap_vid { padding-left: 233px; animation-duration: 15s; }
#section5 .center_area .wrap_vid { padding-left: -296px; }
#section5 .btm_area .wrap_vid { padding-left: 455px; animation-duration: 10s; }

#section6 { position: relative; margin: 200px 0; text-align: center; } 
#section6 .title { color: #fff; }
#section6 .title em { font-size: 40px; }
#section6 .title strong { font-size: 96px; }
#section6 .slide_block { position: relative;  width: 1000px; margin: 90px auto 0; }
#section6 .swiper-wrapper { align-items: center;}
#section6 .swiper-slide { opacity: 0; width: 400px; }
#section6 .swiper-slide.swiper-slide-active,
#section6 .swiper-slide.swiper-slide-prev,
#section6 .swiper-slide.swiper-slide-next { opacity: 1;}
#section6 .navigation .arrows { z-index: 2; position: absolute; top: 65%; width: 33px; height: 33px; margin-top: -120px; border-top: 1px solid #fff; border-right: 1px solid #fff; background: transparent; cursor: pointer;}
#section6 .navigation .prev { left: -50px; transform: rotate(225deg);}
#section6 .navigation .next { right: -50px; transform: rotate(45deg); }
#section6 .book_txt { margin-top: 40px; line-height: 75px; font-size: 60px; color: #fff; }
#section6 .book_txt .point { color:#FF65AF; }
#section6 .badge { z-index: 2; position: absolute; top: 400px; left: 50%; margin-left: -268px; width: 177px; height: 177px; background: url(https://raw.githubusercontent.com/hanyzzi/siwon/main/france/img/book_badge.png) no-repeat;}
#section7 { position: relative; width: 100%; height: 100vh; background: #00041b;  }
#section7.pos { z-index: 2; position: sticky; top: 0; left: 0; }
#section7 .list li { opacity: 0;position: absolute; top: 50%; transform: translate(-50%,-50%); left: 50%; display: flex; justify-content: space-between; align-items: center; width: 1030px; transition: all .5s ease-in-out; }
#section7 .list li.active { opacity: 1; }
#section7 .txt { color: #fff; }
#section7 .txt strong { font-size: 60px; }
#section7 .txt p { margin-top: 40px; font-size: 32px; }
#section7 .txt .point { color: #FF65AF; }
#section7 .book { width: 477px; }
#section7 .book img { width: 100%; }

#section8 { position: relative; width: 100%; height: 100vh; margin-top: 50%; padding-top: 150px; background: #00041b;}
#section8.pos { position: sticky; top: 0; left: 0; }
#section8 .top_area { width: 907px; margin: 0 auto; text-align: center; }
#section8 .top_area ul { display: flex; justify-content: space-between; }
#section8 .good .ico { display: inline-block; width: 85px; height: 76px; background: url(https://raw.githubusercontent.com/hanyzzi/siwon/main/france/img/ico_good.png) no-repeat; }
#section8 .num { margin: 40px 0 15px; font-size: 100px; line-height: 1; font-weight: bold; color: #2CE7DE; }
#section8 .num .count {font-size: 140px;}
#section8 em { font-size: 32px; color: #fff; }
#section8 .reply .ico { display: inline-block; width: 95px; height: 79px; background: url(https://raw.githubusercontent.com/hanyzzi/siwon/main/france/img/ico_reply.png) no-repeat; }
#section8 .review_area { position: relative; overflow: hidden; margin-top: 85px; width: 100%; height: 453px;}
#section8 .review_area img { position: absolute; left: 30%; width: 2457px; }

#section9 { opacity: 0; z-index: 2; position: relative; display: flex; justify-content: center; align-items: center; width: 100%; height: 100vh; margin-top: 50%; text-align: center; background: #00041b;}
#section9.active { opacity: 1; } 
#section9.active .txt em { display: inline-block; animation:up 1s cubic-bezier(1,0,0,1) both}
#section9.active .txt em.md { animation-delay: .5s; }
#section9.active .txt em.extend { animation-delay: 1s;  font-weight: bold;  }
#section9 .txt { font-size: 96px; color: #fff; }
#section9 .txt .point {  color: #FF65AF;}

#section10 {  position: absolute; width: 100%; height: auto; padding-top: 300px; text-align: center; background: #00041b; }
#section10 .tit { width: 609px; margin: 0 auto; color: #fff; font-size: 40px; }
#section10 .point { display: inline-block; font-size: 96px; color: #FF65AF; }
#section10 .wrap_apply { position: relative; width: 100%; height: 460px; margin-top: 130px; background: linear-gradient(28.07deg, #FF65AF 20.84%, #7C31DB 58.69%) }
#section10 .apply_block { opacity: 0; position: absolute; top: 100px; left: 450px; }
#section10 .apply_block .price { width: 440px; }
#section10 .book { opacity: 0; position: absolute; top: 100px; right: 403px; width: 583px; }
#section10 .bt_apply {  display: flex; justify-content: center; align-items: center;  width: 415px; height: 96px; margin-top: 22px; color: #fff; font-weight: bold; background:#00041B;border-radius: 58.5px; font-size: 38px;  }
#section10 .bt_apply:hover { color: #2CE7DE; }
#section10.active .apply_block,
#section10.active .book { opacity: 1; animation:up .5s cubic-bezier(1,0,0,1) both }
#section10.active .book { animation-delay: .3s;}